
.DS_Store
node_modules/
dist/
build/
bin/
coverage/
.env
.env.*

*.code-workspace
.idea

.gradle/
**/build/
out/
*.log
*.hprof

__pycache__/

.expo/
.expo-shared/
android/
ios/

storybook-static/
test-results/
playwright-report/
artifacts/
.detox/

# Graphql backup files
.backup
