apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
#  Vault
  - vault/vault-deployment.yaml
  - vault/vault-secret.yaml
  - vault/vault-init-job.yaml

  # Services
  # - services/neotool-app.yaml
  # - services/neotool-web.yaml
  # - services/neotool-data.yaml
  # - services/neotool-messaging.yaml
  # - services/neotool-storage.yaml
  # - services/neotool-security.yaml
  # - services/neotool-workflows.yaml
  # - services/neotool-observability.yaml

  # Databases
  - databases/postgres-statefulset.yaml
  - databases/pgbouncer-deployment.yaml
  - databases/postgres-exporter-deployment.yaml
  - databases/vault-external-secrets.yaml

  # Kafka
  # - kafka/kafka-statefulset.yaml

  # Storage
  # - storage/minio-deployment.yaml

  # Web
  # - web/nextjs-deployment.yaml

  # Router
  # - router/apollo-router-deployment.yaml

  # Observability
  # - observability/prometheus/deployment.yaml
  # - observability/grafana/deployment.yaml
  # - observability/loki/loki-statefulset.yaml
  # - observability/promtail/promtail-daemonset.yaml
