apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vault-storage
  namespace: production
  labels:
    app: vault
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
