---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infrastructure
  namespace: flux-system
spec:
  interval: 10m0s
  retryInterval: 1m0s
  timeout: 5m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./infra/kubernetes/flux/infrastructure
  prune: true
  wait: true
  patches:
    - patch: |
        apiVersion: v1
        kind: Namespace
        metadata:
          name: production
          labels:
            linkerd.io/inject: enabled
      target:
        kind: Namespace
        name: production
