---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: flux-system
spec:
  releaseName: external-secrets
  targetNamespace: production
  interval: 30m
  dependsOn:
    - name: vault
  chart:
    spec:
      chart: external-secrets
      version: '0.9.11'
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
      interval: 12h
  install:
    createNamespace: false
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    installCRDs: true

    replicaCount: 1

    resources:
      requests:
        memory: 128Mi
        cpu: 100m
      limits:
        memory: 256Mi
        cpu: 200m

    # Security context for all containers
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      fsGroup: 1000
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL

    webhook:
      create: true

    certController:
      create: true
