.git
.gitignore
.github

.idea
.vscode
*.iml
*.swp
*.swo
*~
.DS_Store

.gradle
.kotlin
.run
build
out
tmp

**/.gradle
**/.kotlin
**/.idea
**/.run
**/build
**/out
**/tmp
**/test-results
**/reports
**/coverage

.env
.env.*
