# Node
node_modules
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml.#*
.eslintcache
.DS_Store

# Env (mantenha só exemplos)
.env*
!.env.example

# Next.js (projeto em web/)
.next
out
.vercel

# Playwright / Vitest
playwright-report
test-results
blob-report
coverage
.vitest
types-tests

# Storybook
storybook-static
node_modules/.cache/storybook

# Build genéricos
**/dist
**/build

#IDE
.vscode